.produtos {
  max-width: 960px;
  margin: 60px auto;
}

.produtos h1 {
  font-size: 30px;
  margin: 0 10px 60px 10px;
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;
}

.produtos-item h2 {
  font-size: 30px;
  color: #a4a4a4;
  background: #f7f7f7;
  padding: 40px 20px;
}

.produtos-item img {
  width: 100%;
}

.purple {
  border-top: 8px solid #ae81ff; /*Solid - bordar contínua*/
  align-content: center;
}

.pink {
  border-top: 8px solid #f9265e; /*Solid - bordar contínua*/
  align-self: center;
}

.blue {
  border-top: 8px solid #66d9eb; /*Solid - bordar contínua*/
  align-self: flex-end;
}
